body
{
	background-color:black;
	color:white;
}
h3 {
	color:white;
/*	-webkit-user-select: none; */
	text-align: center
}

img {
	background-color:white;
	/* height:400px; */
	/* width:500px;  */
}

#app{
	width: 100%;
	height:100%;	
	//overflow: hidden;
}

#display{
	width: 100%;
	height:100%;	

}

#timeLabelDiv{
	color:white;
	-webkit-user-select: none;
	width: 88%;
	text-align: center;
}

#timeDisplayDiv{
color:white;
	-webkit-user-select: none;
	width: 88%;
	text-align: center;	
}
/* ----------------------------------------------------------------- */
#subapp{
	width: 100%;
	height:80%;
	border:2px solid #FFFFFF;
}
/* http://jsfiddle.net/ArondeParon/SPjsf/15/ */
/* http://css-infos.net/property/-webkit-appearance */
#sliderSpan {

	-webkit-user-select: none;
	color:blue;
	text-align: center;	
	border:1px solid #0000FF;
    width: 3%;
	height:70%;
    margin-right:2%;
    float:left;
}
#slidercanvas1{

	-webkit-user-select: none;
	border:1px solid #FF00FF;
    width: 20px;
    height:60%;
    /* float:left; */
}
.scoreSpan{

}

#score {
	/* -webkit-user-select: none; */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 65%;
	height: 70%;
	border:3px solid #0000FF;

}

#radioSelect {

}
#superTabDiv{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 28%;
	height:70%;	
	vertical-align:top;
	display: inline-block; 
	float:right;
}
#radioSelectDiv{
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height:20%;	
	vertical-align:top;
	display: inline-block;  
	border:1px solid #00FF00;
}


.myTabs{
	border:1px solid #00FF00;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height:80%;
	vertical-align:top;
	display: none;  // set in code to "none" or "inline-block"

	//float:right;

}
#control_section{
	float:right;
}




#roomList{
	float:right;
	border:1px solid #0000FF;
	background-color:grey;
}
#room_textbox
{
}
#current_room{
	border:1px solid #0000FF;
	background-color:grey;	
}

#end_text {
	color:white;
}





