
/* ----------------------------------------------------------------------
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[name=tabTab] {
    display:none; 
    margin:10px;
}
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[name=tabTab] + label {
    display:inline-block;
    margin: 2px;
    padding: 4px 12px;
    background-color: #0000FF;
    border-color: black;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[name=tabTab]:checked + label { 
  color: black;
  fontWeight="900";
   background-image: none;
    
    //background-color:#d0d0d0;
    background-color: #00BB00;
}
td
{
text-align:center;
}

/*---------------------------------------------------------------- *//* ----------------------------------------------------------------------
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
  NOTICE this depends on having input names that end in "radio"
*/
input[name$="radio"] {
    display:none; 
    margin:10px;
}
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[name$="radio"] + label {
    display:inline-block;
    margin: 2px;
    padding: 4px 12px;
    background-color: #0000FF;
    border-color: black;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[name$="radio"]:checked + label { 
	color: black;
	font-weight: "900";
   background-image: none;
    
    //background-color:#d0d0d0;
    background-color: #00BB00;
}
td
{
text-align:center;
}

